/nbproject/build-impl.xml
/nbproject/project.xml
/nbproject/project.properties
/nbproject/genfiles.properties
/build.xml
/br.com.projeto.comercio.livros/nbproject/private/
/br.com.projeto.comercio.livros/build/
/Modelo_Pedidos/nbproject/private/
/Modelo_Pedidos/build/
/projeto_ads/nbproject/private/
/projeto_ads/build/
/projeto_pedido/nbproject/private/
/projeto_pedido/build/
/projeto_pedido/dist/
/br.com/nbproject/private/
/br.com/build/
/g/nbproject/private/
/g/build/
/JavaLibrary3/nbproject/private/
/build/
/nbproject/private/